
@{
    ViewBag.Title = "ConnectEditPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="spinner" ng-show="loading"></div>
<div ng-show="dataload">

    <div class="modal-header text-left">
        <div class="pull-right">
            <img class="btn-link" src="~/Images/submit.png" width="40" height="35" ng-click="save()">
            &nbsp;
            <img class="btn-link" src="~/Images/cancel.png" width="43" height="43" ng-click="cancel()">
        </div>

        <div>
            <span class="h4 text-muted">Connect Edit Password</span>
        </div>
    </div>

    <div class="modal-body text-left container">
        <div class="row col-xs-12">
            <table class="table-condensed">
                <tr>
                    <td class="item-label">FCID:</td>
                    <td><input type="text" ng-model="input.FCID" size="20" disabled /></td>
                </tr>
                <tr>
                    <td class="item-label">Name:</td>
                    <td><input type="text" ng-model="input.Name" size="50" disabled /></td>
                </tr>
                <tr>
                    <td class="item-label text-danger">Password:</td>
                    <td><input type="text" ng-model="input.Password" size="20" /></td>
                </tr>
                <tr>
                    <td class="item-label">Email:</td>
                    <td><input type="text" ng-model="input.Email" size="50" disabled /></td>
                </tr>
                <tr>
                    <td class="item-label text-danger">Webactive:</td>
                    <td>
                        <select ng-model="input.Webactive">
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        &nbsp; (This is used to disable the login for the Connect site.)
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal-footer">
    </div>

</div>

