
@{
    ViewBag.Title = "ConnectPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="RnD/ConnectPasswordController">
    <div class="row">
        <div class="col-xs-12">
            <span class="h4 text-muted">Connect Password</span>
            <span class="pull-right hidden-print">
                <img class="btn-link" align="bottom" src="~/Images/refresh.png" width="40" height="40" ng-click="setDefault()">
                &nbsp;
                <a href="{{ filelink }}">
                    <img class="btn-link" align="bottom" src="~/Images/download.jpeg" width="35" height="35">
                </a>&nbsp;
                <img class="btn-link" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
            </span>
        </div>
    </div>

    <div class="spinner" ng-show="loading"></div>
    <div ng-show="dataload">
        <div class="row col-xs-12">
            Upload a spreadsheet with only FCIDs to set the default password. &nbsp; 
            <input type="button" class="btn btn-info" value="Update Password" ng-click="openModal('/RnD/ConnectUpdatePassword', 'RnD/ConnectUpdatePasswordController', 'small' )" />
            <br />&nbsp;
            <div class="row col-xs-12">
                <div class="header-item">Select a record to Edit</div>

                <table class="table table-condensed table-bordered table-hover">
                    <tr>
                        <td>FCID</td>
                        <td>Name</td>
                        <td>Password</td>
                        <td>Email</td>
                        <td>Webactive</td>
                    </tr>
                    <tr class="item-link" ng-repeat="list in output" ng-click="edit(list)">
                        <td>{{ list.FCID }}</td>
                        <td>{{ list.Name }}</td>
                        <td>{{ list.Password }}</td>
                        <td>{{ list.Email }}</td>
                        <td>{{ list.Webactive }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>

