
@{
    ViewBag.Title = "GPCustomerClassList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="RnD/GPCustomerClassListController">
    <div class="row">
        <div class="col-xs-12">
            <span class="h4 text-muted">GP Customer Class List</span>
            <span class="pull-right hidden-print">
                <a href="{{ result.filelink }}">
                    <img class="btn-link" align="bottom" src="~/Images/download.jpeg" width="35" height="35">
                </a>    &nbsp;
                <img class="btn-link" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
            </span>
        </div>
    </div>
    <div class="spinner" ng-show="loading"></div>
    <div ng-show="dataload">
        <div class="row col-xs-12">            
            <table class="table table-condensed">
                <tr>
                    <td>Customer Class</td>
                </tr>
                <tr ng-repeat="list in result.output">
                    <td>{{ list.Class }}</td>
                </tr>
            </table>            
        </div>

    </div>

</div>

