
@{
    ViewBag.Title = "ItemBinNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="spinner" ng-show="loading"></div>
<div ng-show="dataload">

    <div class="modal-header text-left">
        <div class="pull-right">
            <img class="btn-link" align="bottom" src="~/Images/submit.png" width="40" height="35" ng-click="save()">
            &nbsp;
            <img class="btn-link" align="bottom" src="~/Images/cancel.png" width="43" height="43" ng-click="cancel()">
        </div>

        <div>
            <span class="h4 text-muted">Item Bin (New)</span>
        </div>
    </div>

    <div class="modal-body text-left container">
        <div class="row col-xs-12">

            <table class="table-condensed">
                <tr>
                    <td class="item-label text-danger">Item:</td>
                    <td><input type="text" ng-model="input.Item" size="60" /></td>
                </tr>
                <tr>
                    <td class="item-label text-danger">Location:</td>
                    <td><input type="text" ng-model="input.Location" size="60" /></td>
                </tr>
                <tr>
                    <td class="item-label text-danger">Bin Cap:</td>
                    <td><input type="text" ng-model="input.BinCap" size="60" /></td>
                </tr>
                <tr>
                    <td>Secondary:</td>
                    <td><input type="text" ng-model="input.Secondary" size="60" /></td>
                </tr>
                <tr>
                    <td>Third:</td>
                    <td><input type="text" ng-model="input.Third" size="60" /></td>
                </tr>
                <tr>
                    <td>Priority:</td>
                    <td>
                        <select ng-model="input.Priority">
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal-footer">
    </div>

</div>

