
@{
    ViewBag.Title = "ItemSales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="Distribution/ItemSalesController">
    <div class="row">
        <div class="col-xs-12">
            <span class="h4 text-muted">Item Sales</span>
            <span class="pull-right">
                <span ng-show="isData">
                    <img class="btn-link" align="bottom" src="~/Images/refresh.png" width="40" height="40" ng-click="setDefault()">
                    &nbsp;
                </span>
                <span ng-show="isSearch">
                    <img class="btn-link" align="bottom" src="~/Images/submit.png" width="45" height="45" ng-click="submit()">
                    &nbsp;
                </span>
                <img class="btn-link" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
            </span>
        </div>
    </div>

    <div class="spinner" ng-show="loading"></div>
    <div ng-show="dataload">

        <div class="row col-xs-12" ng-show="isSearch">
            Depending on your selections this report can take a long time to run.  Do not refresh or cancel as it will take even
            longer to complete.
            <div class="input-group input-group-sm">
                <label class="input-group-addon" for="report_type">Select report:</label>
                <select class="form-control" ng-model="input.type" id="report_type" ng-click="setControl()">
                    <option value="item_sales">Item Sales (Shipped)</option>
                    <option value="item_turnover">Item Turnover Last 6 months.</option>
                    <option value="store_sales_weekly">Store Sales (Weekly)</option>
                    <option value="store_sales_daily">Store Sales (Daily)</option>
                </select>
            </div>
        </div>

        <br />
        <div class="row col-xs-12" ng-show="isSearch">
            <div ng-show="isLocationFilter">
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="site">Select a Site:</label>
                    <select class="form-control" ng-model="input.Location" id="site" ng-click="setControl()">
                        <option value="1">AFC Distribution Center</option>
                        <option value="2">Lanter Warehouse</option>
                    </select>
                </div>
            </div>
        </div>

            <br />
            <div class="row col-sm-6 col-md-6" ng-show="isSearch">
                <div ng-show="isDateFilter">
                    Select a date range for sales data.
                    <div class="input-group input-group-sm">
                        <label class="input-group-addon" for="startdate">From:</label>
                        <input class="form-control text-center" type="text" ng-model="input.startdate" x-jqdatepicker="input.startdate" id="startdate" />
                        <label class="input-group-addon" for="enddate">To:</label>
                        <input class="form-control text-center" type="text" ng-model="input.enddate" x-jqdatepicker="input.enddate" id="enddate" />
                    </div>
                </div>
                <div ng-show="isTurnover">
                    Item Turnover depends on when you run it.  For example, you run it in December then Month 1 = November, Month 2 = October,
                    Month 3 = September, Month 4 = August, Month 5 = July, and Month 6 = June.
                </div>                
            </div>

            <div class="row text-center" ng-show="isData">
                <span class=" text-muted h4">Done</span>
                <br>
                <a href="{{ filelink }}">
                    <img class="btn-link" align="bottom" src="~/Images/download.jpeg" width="45" height="45">
                </a>
            </div>

        </div>

</div>

