
@{
    ViewBag.Title = "ItemBin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="Distribution/ItemBinController">
    <div class="row">
        <div class="col-xs-12">
            <span class="h4 text-muted">Item Bin</span>
            <span class="hidden-print">
                &nbsp; &nbsp;
                <input type="button" class="btn btn-info" value="New" ng-click="openModal('/Distribution/ItemBinNew', 'Distribution/ItemBinNewController', 'small')" />
            </span>
            <br /> The Location info will be printed for the Item on pick tickets.
            <span class="pull-right hidden-print">
                <a href="{{ result.filelink }}">
                    <img class="btn-link" align="bottom" src="~/Images/download.jpeg" width="35" height="35">
                </a>
                &nbsp;
                <img class="btn-link hidden-print" align="bottom" src="~/Images/refresh.png" width="40" height="40" ng-click="setDefault()">
                &nbsp;
                <img class="btn-link" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
            </span>
        </div>
    </div>
        <div class="spinner" ng-show="loading"></div>
        <div ng-show="dataload">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-hover">
                        <tr>
                            <td>Item</td>
                            <td>Item Description</td>
                            <td>Location</td>
                            <td>Bin Cap</td>
                            <td>Secondary</td>
                            <td>Third</td>
                            <td>Priority</td>
                        </tr>
                        <tr ng-repeat="list in result.output" ng-click="openEdit(list)">
                            <td>{{ list.Item }}</td>
                            <td>{{ list.ItemDesc }}</td>
                            <td>{{ list.Location }}</td>
                            <td>{{ list.BinCap }}</td>
                            <td>{{ list.Secondary }}</td>
                            <td>{{ list.Third }}</td>
                            <td>{{ list.Priority }}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

</div>
