
@{
    ViewBag.Title = "PriceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="Distribution/PriceListController">
    <div class="row">
        <div class="col-xs-12">
            <span class="h4 text-muted">Price List</span>
            <span class="pull-right hidden-print">
                <a href="{{ result.filelink }}">
                    <img class="btn-link" align="bottom" src="~/Images/download.jpeg" width="35" height="35">
                </a>
                &nbsp;
                <img class="btn-link hidden-print" align="bottom" src="~/Images/refresh.png" width="40" height="40" ng-click="setDefault()">
                &nbsp;
                <img class="btn-link" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
            </span>
        </div>
    </div>
        <div class="spinner" ng-show="loading"></div>
        <div ng-show="dataload">
            <div class="row col-xs-12">Price Level
                <select ng-model="input.PriceLevel" ng-change="setDefault()">
                    <option value="STD">STD</option>
                    <option value="NI2">NI2</option>
                </select>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed">
                        <tr>
                            <td>Count</td>
                            <td>Item</td>
                            <td>Description</td>
                            <td>UOM</td>
                            <td>UOM Qty</td>
                            <td>Cost</td>
                            <td>Price</td>
                            <td>Price Level</td>
                        </tr>
                        <tr ng-repeat="list in result.output">
                            <td>{{ $index+1 }}</td>
                            <td>{{ list.Number }}</td>
                            <td>{{ list.Description }}</td>
                            <td>{{ list.UOM }}</td>
                            <td>{{ list.UOMQty }}</td>
                            <td>{{ list.Cost }}</td>
                            <td>{{ list.Price }}</td>
                            <td>{{ list.PriceLevel }}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

</div>
