
@{
    ViewBag.Title = "Purchases";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="Distribution/PurchasesController">
    <div class="row">
        <div class="col-xs-12">
            <span class="h4 text-muted">Purchases</span>
            <span class="pull-right">
                <span ng-show="isData">
                    <img class="btn-link" align="bottom" src="~/Images/refresh.png" width="45" height="45" ng-click="setDefault()">
                    &nbsp;
                </span>
                <span ng-show="isSearch">
                    <img class="btn-link" align="bottom" src="~/Images/submit.png" width="45" height="45" ng-click="submit()">
                    &nbsp;
                </span>
                <img class="btn-link" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
            </span>
        </div>
    </div>

    <div class="spinner" ng-show="loading"></div>
    <div ng-show="dataload">
        <div class="row col-xs-12" ng-show="isSearch">
            Depending on your selections this report can take a long time to complete, so please be patient and wait. &nbsp;
            Do not refresh and try again, it will only take longer for the additional request to process.
        </div>
        <br />
        <div class="row" ng-show="isSearch">
            <div class="col-sm-8 col-md-6">
                Select a date range.
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="startdate">From:</label>
                    <input class="form-control text-center" type="text" ng-model="input.startdate" x-jqdatepicker="input.startdate" id="startdate" />
                    <label class="input-group-addon" for="enddate">To:</label>
                    <input class="form-control text-center" type="text" ng-model="input.enddate" x-jqdatepicker="input.enddate" id="enddate" />
                </div>
            </div>
        </div>
       
        <div class="row col-xs-12" ng-show="isSearch">
            <div class="form-group">
                Select Vendor or leave blank for all.
                <select class="form-control" ng-model="input.vendor" ng-options="option.Id as option.Name for option in vendorlist"></select>
            </div>
        </div>

        <div class="row col-xs-12" ng-show="isSearch">
            <div class="form-group">
                Purchase Type.
                <select class="form-control" ng-model="input.type">
                    <option value="1">Shipment</option>
                    <option value="2">Invoice</option>
                    <option value="3">Shipment/Invoice</option>
                </select>
            </div>
        </div>
        <div class="row col-xs-12" ng-show="isSearch">
            <div class="form-group">
                Select a Site.
                <select class="form-control" ng-model="input.Location">
                    <option value="1">AFC Distribution Center</option>
                    <option value="2">Lanter Warehouse</option>
                    <option value="5">Osamu Warehouse</option>
                    <option value="6">Penske, Clearfreight</option>
                    <option value="7">Kensan</option>
                    <option value="8">Phoenix Industries</option>
                    <option value="9">Atlanta Phoenix Ind.</option>
                </select>
            </div>
        </div>
        <div class="row text-center" ng-show="isData">
            <span class=" text-muted h4">Done</span>
            <br>
            <a href="{{ filelink }}">
                <img class="btn-link" align="bottom" src="~/Images/download.jpeg" width="45" height="45">
            </a>
        </div>

    </div>
</div>

