
@{
    ViewBag.Title = "TunaShip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="Distribution/TunaShipController">
    <div class="row">
        <div class="col-xs-12">
            <span class="h4 text-muted">Tuna Ship</span>
            <span class="pull-right hidden-print">
                <a ng-show="isCreateList" class="btn btn-info" ng-click="createList()">Create List</a>

                <a ng-show="isFileLink" class="btn btn-info" href="{{ result.filelink }}" target="_blank">Download
                   <!-- <img class="btn-link" align="bottom" src="~/Images/download.jpeg" width="35" height="35"> -->
                </a>
                &nbsp;
                <img class="btn-link hidden-print" align="bottom" src="~/Images/refresh.png" width="40" height="40" ng-click="setDefault()">
                &nbsp;
                <img class="btn-link" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
            </span>
        </div>
    </div>
        <div class="spinner" ng-show="loading"></div>
        <div ng-show="dataload">
           
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-condensed table-hover table-bordered">
                        <tr>
                            <td>Count</td>
                            <td>Qty</td>
                            <td>Store Code</td>
                            <td>Store Name</td>
                            <td>Address</td>
                            <td>City</td>
                            <td>ST</td>
                            <td>Zipcode</td>
                            <td>Phone</td>
                            <td>Region</td>
                            <td>Last Updated</td>
                        </tr>
                        <tr ng-repeat="list in result.output" ng-click="updateQty(list)">
                            <td>{{ $index+1 }}</td>
                            <td class="text-danger item-label">{{ list.Qty }}</td>
                            <td>{{ list.Storecode }}</td>
                            <td>{{ list.Storename }}</td>
                            <td>{{ list.Address }}</td>
                            <td>{{ list.City }}</td>
                            <td>{{ list.State }}</td>
                            <td>{{ list.Zipcode }}</td>
                            <td>{{ list.Phone }}</td>
                            <td>{{ list.Region }}</td>
                            <td>{{ list.ModifiedOn }}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

</div>
