
@{
    ViewBag.Title = "WMSTrxLog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" ng-controller="Distribution/WMSTrxLogController">
    <div class="row">
        <div class="col-xs-12">
            <span class="h4 text-muted">WMS Trx Log</span>
            <span class="pull-right hidden-print">
                <span ng-show="isData">
                    <a href="{{ filelink }}">
                        <img class="btn-link" align="bottom" src="~/Images/download.jpeg" width="35" height="35">
                    </a>&nbsp;
                    <img class="btn-link" align="bottom" src="~/Images/refresh.png" width="40" height="40" ng-click="setDefault()">
                    &nbsp;
                </span>
                <span ng-show="isSearch">
                    <img class="btn-link" align="bottom" src="~/Images/submit.png" width="45" height="45" ng-click="submit()">
                    &nbsp;
                </span>
                <img class="btn-link" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
            </span>
        </div>
    </div>

    <div class="spinner" ng-show="loading"></div>
    <div ng-show="dataload">
        <div class="row" ng-show="isSearch">
            <div class="col-xs-12 col-sm-8 col-md-6">
                Select a date range.
                <div class="input-group input-group-sm">
                    <label class="input-group-addon" for="startdate">From:</label>
                    <input class="form-control text-center" type="text" ng-model="input.startdate" x-jqdatepicker="input.startdate" id="startdate" />
                    <label class="input-group-addon" for="enddate">To:</label>
                    <input class="form-control text-center" type="text" ng-model="input.enddate" x-jqdatepicker="input.enddate" id="enddate" />
                </div>
            </div>
        </div>
        
        <div class="row" ng-show="isData">
            <div class="col-xs-12">
                <span class="text-info">From: {{ input.startdate }} &nbsp; To: {{ input.enddate }}</span>
                <table class="table table-condensed">
                    <tr>
                        <td></td>
                        <td>Status</td>
                        <td>TrxType</td>
                        <td>UserId</td>
                        <td>TerminalId</td>
                        <td>TrxDate</td>
                        <td>DocNumber</td>
                        <td>Item</td>
                        <td>Lot</td>
                        <td>Qty</td>
                        <td>From Site</td>
                        <td>From Bin</td>
                        <td>To Site</td>
                        <td>To Bin</td>
                    </tr>

                    <tr ng-repeat="list in output">
                        <td>{{ $index+1 }}</td>
                        <td>{{ list.Status }}</td>
                        <td>{{ list.TrxType }}</td>
                        <td>{{ list.UserId }}</td>
                        <td>{{ list.TerminalId }}</td>
                        <td>{{ list.TrxDate }}</td>
                        <td>{{ list.DocNumber }}</td>
                        <td>{{ list.Item }}</td>
                        <td>{{ list.Lot }}</td>
                        <td>{{ list.Qty }}</td>
                        <td>{{ list.FromSite }}</td>
                        <td>{{ list.FromBin }}</td>
                        <td>{{ list.ToSite }}</td>
                        <td>{{ list.ToBin }}</td>
                    </tr>
                </table>
            </div>
        </div>
              

    </div>

</div>

