
@{
    ViewBag.Title = "Memo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" data-ng-controller="Connect/Memo">
    <div class="row">
        <div class="col-xs-12">
            <span class="h4 text-muted">Connect Memo</span>
            <span class="pull-right">
                <img class="btn-link" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
            </span>
        </div>
    </div>
    <div class="spinner" ng-show="loading"></div>
    <div ng-show="dataload">
        <div class="row">
            <div class="col-xs-12">
                <input type="button" class="btn btn-info" value="Create New Memo" ng-click="openModal('/Connect/MemoNew', 'Connect/MemoNew', 'medium' )" />
                <br />&nbsp;
                <br />
                <table class="table table-condensed table-bordered table-hover table-responsive">
                    <tr>
                        <td>Id</td>
                        <td>Title</td>
                        <td>Active</td>
                        <td>Modified On</td>
                    </tr>
                    <tr ng-repeat="list in output" ng-click="editRecord(list)">
                        <td>{{ list.Id }}</td>
                        <td>{{ list.Title }}</td>
                        <td class="{{ list.ActiveStatus }}">{{ list.Active }}</td>
                        <td>{{ list.ModifiedOn }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</div>

