
@{
    ViewBag.Title = "Portals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row col-xs-12">
        <span class="h4 text-muted">Portals</span>        
        <img class="btn-link pull-right" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
    </div>
    <div class="row col-xs-12 text-center">
        <a class="btn btn-info" href="https://afcorder.com/Manager" target="_blank">Manager</a>
        &nbsp; &nbsp;
        <a class="btn btn-info" href="https://afcorder.com/account/salesreplogin" target="_blank">AFC</a>
        &nbsp; &nbsp;
        <a class="btn btn-info" href="https://afcorder.com" target="_blank">Franchisee</a>
    </div>
</div>




