
@{
    ViewBag.Title = "PromoItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="spinner" ng-show="loading"></div>
<div ng-show="dataload">

    <div class="modal-header text-left">
        <div class="pull-right">
            <!--  <a href="{{ filelink }}">
                <img class="btn-link" align="bottom" src="~/Images/download.jpeg" width="35" height="35">
            </a>
            &nbsp;-->
            <img class="btn-link" src="~/Images/submit.png" width="40" height="35" ng-click="save()">
            &nbsp;
            <img class="btn-link" src="~/Images/cancel.png" width="43" height="43" ng-click="cancel()">
        </div>

        <div>
            <span class="h4 text-muted">Add Items ({{ header.Description }})</span>
        </div>
    </div>

    <div class="modal-body text-left container">
        <div class="row col-xs-12">
            <!--   <table class="table table-condensed table-bordered">
            <tr>
                <td class="text-center"></td>
                <td class="text-center">Item</td>
                <td class="text-center">Description</td>
                <td class="text-center">UOM</td>
                <td class="text-center">Qty</td>
                <td class="text-center">Cost</td>
                <td class="text-center">Price</td>
                <td class="text-center">Ext Price</td>
            </tr>
            <tr ng-repeat="list in output">
                <td class="text-center">{{ $index+1 }}</td>
                <td>{{ list.Number }}</td>
                <td>{{ list.Description }}</td>
                <td>{{ list.UOM }}</td>
                <td>{{ list.Sold }}</td>
                <td>{{ list.Cost }}</td>
                <td>{{ list.Price }}</td>
                <td>{{ list.Sales }}</td>
            </tr>
        </table>-->
            Use the <a class="item-link item-label" href="~/Template/promo.xlsx">Template</a> to upload items that will be added to sales order.
            <br />(Note: Do not change the column headers or sheetname.)
            <br />
            <!--    <span class="text-danger item-label">
            (Note. If an item is missing from the table then it is due to the Item No. and UOM not matching in GP.)
        </span>-->
            <br />This will overwrite all items when uploading a new file.
        </div>
        <br />
        <div class="row col-sm-4 col-sm-offset-4">
            <input type="file" id="fileInputItemPage" />
        </div>
    </div>

        <div class="modal-footer">

        </div>

    </div>

