
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" data-ng-controller="Legal">
    <div class="row">
        <div class="col-xs-12">
            <span class="h4 text-muted">Legal/FST</span>

            <img class="btn-link pull-right" align="bottom" src="~/Images/cancel.png" width="45" height="45" x-pageback>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-hover table-condensed">
                <tr ng-repeat="list in output">
                    <td ng-click="open(list)">{{ list.Name }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

